.cart-wrapper {
    width: var(--width-main-content);

    h1 {
        font-weight: bold;
    }

    a {
        color: var(--color-text-highlight);

        &:hover {
            text-decoration: underline;
        }
    }
}

.total-price-wrapper {
    margin-left: auto;
    width: 40%;

    h4 {
        display: flex;
        justify-content: space-between;
    }

    .text,
    .price {
        font-weight: bold;
    }

    .form-button {
        width: 100%;
    }
}