@import './../../scss/mixins.scss';

.product-card {
    width: 32%;
    margin-bottom: 2%;
    box-shadow: var(--shape-shadow-main) var(--color-shadow-light);

    @include bp (tablets) {
        width: 48%;
        margin-bottom: 4%;
    }

    @include bp (phonel) {
        width: 100%;
    }

    .card-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .details {
        display: none;
        padding: 0;
        margin: 0;
        position: absolute;
        font-weight: bold;
        font-size: 2em;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .card-inner:hover {
        .details {
            animation: fadeIn 0.2s;
            animation-direction: alternate;
            animation-fill-mode: both;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: rgba(15, 76, 129, 0.50);
            z-index: 500;
        }
    }

    .card-media {
        position: relative;
        overflow: hidden;
    }

    .card-media:after {
        display: block;
        content: '';
        padding-top: 100%;
    }

    .card-media img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
    }

    .card-meta,
    .card-footer {
        padding: 0 2em;
    }

    .card-meta {
        color: var(--color-text-main);
    }

    .card-footer {
        margin-top: auto;
        padding-bottom: 1em;
        color: var(--color-text-highlight);
    }

    .price {
        color: var(--color-highlight-text);
    }
}